## Suppose we have to store customer name, age, salary, city and Active status of a customer then for one customer we can save it as below.

## Customer_1_List = ["Sachin", 43, 5123788.56, "Mumbai", True]

## No problem above! However suppose we have to store 5 customers information then we will have to create a list of lists where the information is something like below

#### All_Customers_List = [ Customer_1_List, Customer_2_List , Customer_3_List, Customer_4_List, Customer_5_List]
### Thus the "All_Customers_List" becomes a list of lists ..something like below

## All_Customers_List = [ [...], [...], [...], [...], [...]]

## So if 

## we say All_Customers_List[0] ..the <font color="red"> entire first customer list </font> will come out.
## we say All_Customers_List[1] ..the <font color="red"> entire second customer list </font> will come out.
## we say All_Customers_List[2] ..the <font color="red"> entire third customer list </font> will come out.

## How do we access fourth element (which is city) of second customer?

## We will break the problem as follows.
### First get out second customer list
### Then from the second customer list we get out the fourth element

## We might do as below ...to begin with ..later we will see a shortcut

### Second_Customer_List = All_Customers_List[ 1 ]
### Salary_Second_Customer = Second_Customer_List[3]

## Please type the code exactly shown and answer the following questions. Notice the "\" at the end of every customer list

In [2]:
All_Customers_List = [["Sachin", 43, 5123788.56, "Mumbai", True],\
                      ["Virat", 28, 5637389.56, "Delhi", True],\
                      ["Mittali", 32, 756437.56, "Chaandigarh", False],\
                      ["Saina", 29, 6838353.56, "Hyderabad", True],\
                      ["Sindhu", 27, 867474.56, "Banggalore", False]\
                     ]

## Access the City of Second customer.

In [3]:
Second_Customer = All_Customers_List[1]
City_Second_Customer = Second_Customer[3]
print(Second_Customer)
print(City_Second_Customer)

['Virat', 28, 5637389.56, 'Delhi', True]
Delhi

## Access the salary of fourth customer

In [4]:
Fourth_Customer_List = All_Customers_List[3]
Salary_Fourth_Customer = Fourth_Customer_List[2]
print(Fourth_Customer_List)
print(Salary_Fourth_Customer)

['Saina', 29, 6838353.56, 'Hyderabad', True]
6838353.56

## Access the name of fifth customer

In [6]:
Fifth_Customer_List = All_Customers_List[4]
Name_Fifth_Customer = Fifth_Customer_List[0]
print(Fifth_Customer_List)
print(Name_Fifth_Customer)

['Sindhu', 27, 867474.56, 'Banggalore', False]
Sindhu

## Now that you know the above method, let us see the shortcut

## Access the City of Second customer.

## <font color="red">Long method</font>
### Second_Customer = All_Customers_List[1]
### City_Second_Customer = Second_Customer[3]

##  <font color="red">Short Method</font>
### City_Second_Customer = All_Customers_List[1][3]

## Using the shortcut method get the third customers city

In [13]:
Third_Customer_City = All_Customers_List[2][3]
print(Third_Customer_City)

Chaandigarh

## Using the shortcut method get the fifth customers Active status

In [16]:
Fifth_Customer_Status = All_Customers_List[4][4]
print(Fifth_Customer_Status)

False

## The same logic goes for Tuple of tuples. Please type exactly as below and answer the questions. Each tuple : first element is customers initial name, second element is age and third element is account balance in integers

In [22]:
import random
import string
random.seed(123)
My_Tuple_Tuples_1 = tuple((string.ascii_lowercase[random.randint(0,25)], random.randint(18,50), random.randint(500000,8000000)) for i in range(10))
for i in My_Tuple_Tuples_1:
    print(i)

('b', 35, 1231374)
('y', 44, 2736015)
('d', 20, 3680325)
('r', 39, 3358822)
('b', 28, 1632944)
('k', 39, 6386200)
('h', 28, 514013)
('n', 23, 7870485)
('t', 42, 1086170)
('a', 38, 6640790)

## Using Shorthand notation access fifth customer account balance

In [23]:
My_Tuple_Tuples_1[4][2]

1632944

## Using Shorthand notation access tenth customer age

In [24]:
My_Tuple_Tuples_1[9][1]

38

## Using Shorthand notation access first customer initial of name

In [25]:
My_Tuple_Tuples_1[0][0]

'b'

## Now that you know this there is no end to being list inside list inside list inside list ...so on

## How to access them?

## Let us see an example first. Suppose we have three clients and we have monthly information for one year.

## Let us first see how to store that information. There are 'at least' two 'normal' ways you can do it.

## Method_1

## Inside the bigger list there will be 12 lists (for 12 months) and inside each month list there will be three lists for three customers and inside each list there will be customer related information.

## Method_2

## Inside the bigger list there will be 3 lists (for 3 customers) and inside each list there will be 12 lists for every month ..each list will have a particular customer and a particular month information.

## Both methods are valid. Either this list will be provided by your boss or you will create. Whatever is the case, you <font color="red">must know the layout of lists </font>.

## Type the code exactly as below to create two such lists. First list is called List_Method_1 and second list is called List_Method_2. We will cover them from Monday onwards

## <font color="red"> After running the code, please convince your self that both methods contain essentially the same information ..it is just the order is differrent. </font>

In [39]:
import random
random.seed(123)

Customers_Initial = ['a','b','c']
Customers_age = [28, 56, 34]
Customers_City = ['Bangalore','Delhi', 'Mumbai']
Balance = [[random.randint(10000, 700000) for y in range(12)] for x in range(3)]

List_Method_1 = [[[Customers_Initial[x], Customers_age[x], Customers_City[x], Balance[x][y]] for x in range(3)] for y in range(12)]
print("List_Method_1 is as below")
for month_num in range(12):
    print("Month num = %i"%(month_num+1))
    for customer_num in range(3):
        print(List_Method_1[month_num][customer_num], sep="", end="")
    print()
print() 

List_Method_2 = [[[Customers_Initial[x], Customers_age[x], Customers_City[x], Balance[x][y]] for y in range(12)] for x in range(3)]
print("List_Method_2 is as below")
for customer_num in range(3):
    print("Customer num = %i"%(customer_num))
    for month_num in range(12):
        print(List_Method_2[customer_num][month_num], sep="", end="")
    print()

List_Method_1 is as below
Month num = 1
['a', 28, 'Bangalore', 64907]['b', 56, 'Delhi', 64422]['c', 34, 'Mumbai', 405936]
Month num = 2
['a', 28, 'Bangalore', 290679]['b', 56, 'Delhi', 177418]['c', 34, 'Mumbai', 83271]
Month num = 3
['a', 28, 'Bangalore', 101421]['b', 56, 'Delhi', 151618]['c', 34, 'Mumbai', 16915]
Month num = 4
['a', 28, 'Bangalore', 437023]['b', 56, 'Delhi', 363597]['c', 34, 'Mumbai', 340782]
Month num = 5
['a', 28, 'Bangalore', 289501]['b', 56, 'Delhi', 598211]['c', 34, 'Mumbai', 480099]
Month num = 6
['a', 28, 'Bangalore', 122931]['b', 56, 'Delhi', 360010]['c', 34, 'Mumbai', 116993]
Month num = 7
['a', 28, 'Bangalore', 50007]['b', 56, 'Delhi', 267072]['c', 34, 'Mumbai', 56019]
Month num = 8
['a', 28, 'Bangalore', 407540]['b', 56, 'Delhi', 181732]['c', 34, 'Mumbai', 107270]
Month num = 9
['a', 28, 'Bangalore', 572248]['b', 56, 'Delhi', 11751]['c', 34, 'Mumbai', 159081]
Month num = 10
['a', 28, 'Bangalore', 599633]['b', 56, 'Delhi', 467468]['c', 34, 'Mumbai', 142382]
Month num = 11
['a', 28, 'Bangalore', 358334]['b', 56, 'Delhi', 101869]['c', 34, 'Mumbai', 32267]
Month num = 12
['a', 28, 'Bangalore', 367352]['b', 56, 'Delhi', 636628]['c', 34, 'Mumbai', 315976]

List_Method_2 is as below
Customer num = 0
['a', 28, 'Bangalore', 64907]['a', 28, 'Bangalore', 290679]['a', 28, 'Bangalore', 101421]['a', 28, 'Bangalore', 437023]['a', 28, 'Bangalore', 289501]['a', 28, 'Bangalore', 122931]['a', 28, 'Bangalore', 50007]['a', 28, 'Bangalore', 407540]['a', 28, 'Bangalore', 572248]['a', 28, 'Bangalore', 599633]['a', 28, 'Bangalore', 358334]['a', 28, 'Bangalore', 367352]
Customer num = 1
['b', 56, 'Delhi', 64422]['b', 56, 'Delhi', 177418]['b', 56, 'Delhi', 151618]['b', 56, 'Delhi', 363597]['b', 56, 'Delhi', 598211]['b', 56, 'Delhi', 360010]['b', 56, 'Delhi', 267072]['b', 56, 'Delhi', 181732]['b', 56, 'Delhi', 11751]['b', 56, 'Delhi', 467468]['b', 56, 'Delhi', 101869]['b', 56, 'Delhi', 636628]
Customer num = 2
['c', 34, 'Mumbai', 405936]['c', 34, 'Mumbai', 83271]['c', 34, 'Mumbai', 16915]['c', 34, 'Mumbai', 340782]['c', 34, 'Mumbai', 480099]['c', 34, 'Mumbai', 116993]['c', 34, 'Mumbai', 56019]['c', 34, 'Mumbai', 107270]['c', 34, 'Mumbai', 159081]['c', 34, 'Mumbai', 142382]['c', 34, 'Mumbai', 32267]['c', 34, 'Mumbai', 315976]

## Hopefully you are convinced

## Now notice these two examples

## Extract 2nd customers, 3rd months balance for List_Method_1

### List_Method_1[2][1][3]

## Extract 2nd customers, 3rd months balance for List_Method_2

### List_Method_2[1][2][3]

## Let us confirm

In [40]:
print(List_Method_1[2][1][3])
print(List_Method_2[1][2][3])

151618
151618

## Now anser the following questions. Please feel proud of yourself, if you did not know this before but now you can answer at least 75% of questions right

## Question 1, 2: Extract 1st month and 2nd customer name for both List_Method_1 and List_Method_2

In [42]:
print(List_Method_1[0][1][0])
print(List_Method_2[1][0][0])

b
b

## Question 3, 4: Extract 3rd month and 1st customer age for both List_Method_1 and List_Method_2

In [43]:
print(List_Method_1[2][0][1])
print(List_Method_2[0][2][1])

28
28

## Question 5, 6: Extract 6th month and 3rd customer City for both List_Method_1 and List_Method_2

In [44]:
print(List_Method_1[5][2][2])
print(List_Method_2[2][5][2])

Mumbai
Mumbai

## Question 7, 8: Extract 10th month and 1st customer Balance for both List_Method_1 and List_Method_2

In [45]:
print(List_Method_1[9][0][3])
print(List_Method_2[0][9][3])

599633
599633

## Now we are ready to move to the final data structure that is needed for the day. 
## Welcome to dictionary